
.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: none;
}

body {
  background: black;
  color: white;
  text-align: center;
}

button {
  border: none;
  color: white;
  text-shadow: 0 0 2px black,0 0 2px black,0 0 2px black;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

.test {
  text-align: center;
}